* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: rgb(222, 217, 217);
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body::before {
  position: fixed;
  top: 0;
  left: -320px;
  content: "";
  width: 550px;
  height: 70%;
  background: linear-gradient(to top, #8c71e899, #c371e899);
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  z-index: -1;
}
body::after {
  position: fixed;
  bottom: 0;
  right: -320px;
  content: "";
  width: 550px;
  height: 40%;
  background-color: lightgrey;
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
  z-index: -1;
}

header {
  width: 250px;
  background-color: lightgrey;
  font-size: 0.6rem;
  border-radius: 25px;
  border: 9px solid #fff;
  margin: 4rem 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
header .name-container {
  background: linear-gradient(
    to right,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%)
  );
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 2rem 1rem 1rem;
  margin-bottom: 0.6rem;
  position: relative;
}

.name-container .speaker {
  width: 130px;
  height: 20px;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.name-container .arrow-icon {
  font-size: 0.9rem;
  color: #fff;
  margin-right: 0.3rem;
}
.name-container img {
  width: 29px;
  border: 2px solid #fff;
  border-radius: 50%;
}
.name-container .name {
  margin-left: 0.6rem;
}

.name h2 {
  color: hsl(0, 0%, 100%);
  font-size: 0.7rem;
  letter-spacing: 0.6px;
}
.name p {
  color: hsl(276, 100%, 81%);
  font-size: 0.5rem;
  letter-spacing: 0.3px;
}

.name-container .dots-icon {
  color: #fff;
  font-size: 0.7rem;
  margin-left: auto;
}

.message {
  line-height: 1.3;
  font-size: 0.7rem;
  opacity: 0;
  transform: translateX(20px);
  animation: slide-in 0.5s ease forwards, fade-in 0.5s ease forwards;
}

.messages-left {
  color: hsl(276, 55%, 52%);
  display: flex;
  flex-direction: column;
}
.messages-left .message {
  max-width: 140px;
  background-color: hsl(276, 55%, 92%);
  padding: 0.5rem;
  border-radius: 6px;
  border-bottom-left-radius: 3px;
  margin: 0 0.4rem 0.4rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.messages-right {
  color: hsl(271, 15%, 43%);
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  opacity: 0;
  animation: slide-in 0.5s ease forwards, fade-in 0.5s ease forwards;
}
.messages-right .images {
  margin: 0.4rem;
}
.messages-right .images img {
  width: 40px;
  height: 40px;
  border-radius: 25%;
  margin-left: 0.3rem;
}
.messages-right .message {
  max-width: 120px;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 6px;
  border-bottom-right-radius: 3px;
  margin: 0 0.4rem 0.4rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.messages-right .message:last-child {
  max-width: 110px;
}

.walk-time {
  margin-bottom: 1rem;
  opacity: 0;
  animation: slide-in 0.5s ease forwards, fade-in 0.5s ease forwards;
}

.price-container {
  max-width: 160px;
  background: linear-gradient(
    to right,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
  padding: 0.6rem;
  border-radius: 6px;
  border-bottom-left-radius: 3px;
  margin: 0 0.4rem 0.3rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.price-container label {
  font-size: 0.7rem;
  color: hsl(270, 7%, 64%);
  display: flex;
  align-items: center;
}
.price-container input[type="radio"] {
  width: 12px;
  height: 12px;
  background-color: hsl(293, 100%, 63%);
  border-radius: 50%;
  outline: 2px solid hsl(289, 100%, 72%);
  margin-right: 0.3rem;
  cursor: pointer;
  appearance: none;
}
.price-container input[type="radio"]:checked {
  background-color: #fff;
}
.price-container span {
  color: hsl(289, 100%, 86%);
  display: flex;
  align-items: center;
}
.price-container .price {
  position: absolute;
  transform: translateX(95px);
  color: #fff;
  font-size: 1rem;
}

.message-container {
  margin-bottom: 0.5rem;
  text-align: center;
  position: relative;
}
.message-container input {
  width: 95%;
  font-size: 0.6rem;
  letter-spacing: 0.6px;
  padding: 0.6rem;
  border: none;
  border-radius: 15px;
}
.message-container input:focus {
  outline: none;
  box-shadow: 0px 0px 0px 2px hsl(293, 100%, 63%);
}
.message-container input::placeholder {
  color: hsl(206, 6%, 79%);
}

.input-icon {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: black;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.1rem;
}
.input-icon:hover {
  cursor: pointer;
}
.input-icon i {
  color: #fff;
  font-size: 0.6rem;
}
main {
  text-align: center;
}
main h1 {
  font-size: 2.4rem;
}
main p {
  max-width: 310px;
  color: hsl(206, 6%, 39%);
  line-height: 2;
  margin: 2rem;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.message-1 {
  animation-delay: 0.5s;
}
.message-2 {
  animation-delay: 1s;
}
.message-3 {
  animation-delay: 1.5s;
}
.message-4 {
  animation-delay: 2.5s;
}
.message-5 {
  animation-delay: 3s;
}

@media (min-width: 1440px) {
  html {
    font-size: 1.3rem;
  }
  body::before {
    width: 950px;
    height: 90%;
    left: -320px;
  }
  body::after {
    width: 950px;
    height: 90%;
    right: -320px;
  }
  body {
    flex-direction: row;
  }
  header {
    width: 350px;
  }
  .name-container .speaker {
    width: 190px;
    height: 26px;
  }
  .name-container .arrow-icon {
    font-size: 1.2rem;
  }
  .name-container img {
    width: 35px;
    border: 2px solid #fff;
    border-radius: 50%;
  }
  .name h2 {
    font-size: 0.8rem;
  }
  .name p {
    font-size: 0.6rem;
  }
  .name-container .dots-icon {
    font-size: 0.8rem;
  }
  .messages-left .message {
    max-width: 200px;
    margin: 0 0.6rem 0.6rem;
  }
  .messages-right .images {
    margin: 1rem 0.6rem 0.6rem;
  }
  .messages-right .images img {
    width: 66px;
    height: 66px;
    margin-left: 0.6rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }
  .messages-right .message {
    max-width: 200px;
    margin: 0 0.6rem 0.6rem;
  }
  .messages-right .message:last-child {
    max-width: 140px;
  }
  .price-container {
    max-width: 260px;
    margin: 0 0.6rem 0.4rem;
  }
  .price-container .price {
    transform: translateX(175px);
  }
  .message-container {
    margin-bottom: 0.6rem;
  }
  .message-container input {
    width: 93%;
    font-size: 0.8rem;
    padding: 0.8rem;
    border-radius: 25px;
  }
  .input-icon {
    width: 1.9rem;
    height: 1.9rem;
    margin-right: 0.3rem;
  }
  .input-icon i {
    font-size: 0.9rem;
  }
  main {
    text-align: initial;
    margin-left: 6rem;
  }
  main h1 {
    font-size: 2.6rem;
  }
  main p {
    max-width: 660px;
    font-size: 1.3rem;
    margin: 2rem 0 0;
  }
}
